<section class="section">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-8">
                <p> 
                Quentin Hnilica is a junior programmer. He got his start making video games in June of 2020. He excells in C# and LUA.
                Primarly using the Unity game engine, he is no stranger to others such as Game Maker Studio and Roblox Studio.
                His videogame Catalog currently includes: "GEORGE WASHINGTON: Cosmic Incarceration ~自由~", a game jam submission he was given
                48 hours to complete with just himself and two colleagues. He also released "Anbu Black Ops Anime Survival" which is a roblox 
                title, written entirely in LUA. Quentin has started his full stack journey in July of 2021 were he has learned HTML, CSS and JavaScript 
                he has created many tools using JavaScript which includes a browser text adventure game inspired by Dungeons And Dragons.
                </p>
            </div>
            <div class="col-4">
                <img src="assets/imgs/itsme.jpg" alt="the-real-Quentin-Hnilica" width="100%">
            </div>
        </div>       
    </div>
</section>


<section class="section" style="text-align: center;">
    <p>
        Tech I Use
    </p>
    <hr>
    <div class="container">

        <a href="https://www.w3schools.com/" target="_blank"><img src="assets/imgs/htmlCss.png" alt="HTML/CSS" width="300"></a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="assets/imgs/JavaScript.png" alt="JavaScript" width="300"></a>
        <a href="https://unity.com/" target="_blank"><img src="assets/imgs/Unity.png" alt="Unity3D" width="300"></a>
        <a href="https://www.roblox.com/create" target="_blank"><img src="assets/imgs/RobloxStudio.jpeg" alt="RobloxStudio" width="300"></a>
        <a href="https://nodejs.org/en/" target="_blank"><img src="assets/imgs/node.png" alt="node.js" width="300"></a>
        <a href="https://expressjs.com/" target="_blank"><img src="assets/imgs/express.png" alt="express.js" width="300"></a>
        <a href="https://www.mysql.com/" target="_blank"><img src="assets/imgs/mysql.png" alt="mysql" width="300"></a>
        <a href="https://sequelize.org/" target="_blank"><img src="assets/imgs/Sequalize.png" alt="Sequalize" width="300"></a>
    </div>
</section>

<footer style="text-align: center;">
    <a class="navbar-brand" href="/"><img src="assets/imgs/QueueDev.png">  </a>
</footer>

<script>
    document.getElementById('about').classList.add('active')
</script>