<section>
    <h2 style="text-align: center;">
        Anbu Blackops: Anime Survival
    </h2>
    <div class="container" style="margin-top: 3%;">
        <div class="row align-items-start">
            <div class="col-8">
                <p>
                    Anbu Black ops is the first game I worked on for the Roblox platform. This game was worked on by myself and my partner at "Now That's A Game" studios. The game is fully scripted in LUA. We used their built in animator for animations, and got just under 10k plays, with over 700 favorites on the site.
                </p>
                <p>
                    The biggest challenge for this project was creating AI to switch targets between closer players and the main objective. AI is very different from all the other systems we implemented.
                </p>
            </div>

            <div class="col-4">
                 <img src="assets/imgs/Final_1.png" class="card-img-top" alt="George-Washington-Space-Incarseration" style="max-height: 500px; min-height: 100px" >
            </div>
        </div>
    </div>

    <div style="margin-bottom: 3%; text-align: center;">
        <a href="https://www.roblox.com/games/6252480371/Anbu-Black-Ops-Anime-Survival" target="_blank" class="btn btn-success">Play the game!</a>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p style="font-weight: bold;">My Part Of the Project</p>
            </div>

            <div class="col-6">
                <p style="font-weight: bold;">Tech Used</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <ul>
                    <li>
                        <p>Programmed Menu UI</p>
                    </li>
                    <li>
                        <p>Enemy AI</p>
                    </li>
                    <li>
                        <p>All game animations</p>
                    </li>
                    <li>
                        <p>Game balancing</p>
                    </li>
                    <li>
                        <p>Various game mechanics</p>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <ul>
                    <li>
                        <p>Roblox Stuido</p>
                    </li>
                    <li>
                        <p>LUA Scripting Language</p>
                    </li>
                    <li>
                        <p>Roblox Animator</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<footer>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
             <a href="/videogames" ><img src="assets/imgs/go-back.png"></a>
            </div>
            <div class="col-6">
             <a class="navbar-brand" href="/" style="align: center"><img src="assets/imgs/QueueDev.png"></a>
            </div>
        </div>
    </div>
    
    
</footer>