<section>
    <h2 style="text-align: center;">
        George-Washington-Space-Incarseration
    </h2>
    <div class="container" style="margin-top: 3%;">
        <div class="row align-items-start">
            <div class="col-8">
                <p>
                    George-Washington-Space-Incarseration is a product of the 2021 GMTK game jam! Our three man team took on this challenge and got in the top 2,000 in all catagories! There were over 5,500 submissions. Making the game was a lot of fun and a great learning expirence. 
                </p>
                <p>
                    The Challenges we faced were getting the project completed in the 48 hour deadline, getting the movement and physics working properly and sticking to the theme of "Tied Together".
                </p>
            </div>

            <div class="col-4">
                 <img src="https://img.itch.zone/aW1nLzYyMjIwMDYucG5n/315x250%23c/iboFDP.png" class="card-img-top" alt="George-Washington-Space-Incarseration" style="max-height: 500px; min-height: 100px" >
            </div>
        </div>
    </div>

    <div style="margin-bottom: 3%; text-align: center;">
        <a href="https://bigdamie.itch.io/georgiesavesspace" target="_blank" class="btn btn-success">Download Game Free!</a>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p style="font-weight: bold;">My Part Of the Project</p>
            </div>

            <div class="col-6">
                <p style="font-weight: bold;">Tech Used</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <ul>
                    <li>
                        <p>Programmed Menu UI</p>
                    </li>
                    <li>
                        <p>Composed Music & Sound Effects</p>
                    </li>
                    <li>
                        <p>Worked On Level Design</p>
                    </li>
                    <li>
                        <p>Programmed collectables</p>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <ul>
                    <li>
                        <p>Unity Game Engine</p>
                    </li>
                    <li>
                        <p>C# Scripting Language</p>
                    </li>
                    <li>
                        <p>FL Stuido 20 for Music</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
             <a href="/videogames" ><img src="assets/imgs/go-back.png"></a>
            </div>
            <div class="col-6">
             <a class="navbar-brand" href="/" style="align: center"><img src="assets/imgs/QueueDev.png"></a>
            </div>
        </div>
    </div>
</footer>