<section>
    <h2 style="text-align: center;">
        Web Dev Group Finder
    </h2>
    <div class="container" style="margin-top: 3%;">
        <div class="row align-items-start">
            <div class="col-8">
                <p>
                    Web Dev Group Finder is an app where developers can create groups that users can view and request to join to find projects to work on and work on their development skills. This app was created as my second project in my coding bootcamp. The app was developed by myself and 3 other developers.
                </p>
                <p>
                    The biggest challenge for this project was setting up a server using node. This was the first full app I have made using this tech. 
                </p>
            </div>

            <div class="col-4">
                 <img src="assets/imgs/group-finder.png" class="card-img-top" alt="group-finder-ScreenShot" style="max-height: 500px; min-height: 100px" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" row align-items-start">
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://web-dev-group-finder.herokuapp.com/" target="_blank" class="btn btn-success">Try the app!</a>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://github.com/QuentinHnilica/web-dev-group-finder" target="_blank" class="btn btn-primary">View source code</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p style="font-weight: bold;">My Part Of the Project</p>
            </div>

            <div class="col-6">
                <p style="font-weight: bold;">Tech Used</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <ul>
                    <li>
                        <p>Programmed Menu UI</p>
                    </li>
                    <li>
                        <p>Programmed Sequalize GET/POST/DELETE requests</p>
                    </li>
                    <li>
                        <p>Group Creation Logic</p>
                    </li>
                    <li>
                        <p>mysql2 Models</p>
                    </li>
                    <li>
                        <p>Group Search Logic</p>
                    </li>

                </ul>
            </div>

            <div class="col-6">
                <ul>
                    <li>
                        <p>HTML5/CSS</p>
                    </li>
                    <li>
                        <p>Bootstrap Frame-Work</p>
                    </li>
                    <li>
                        <p>Handlebars.js</p>
                    </li>
                    <li>
                        <p>JavaScript</p>
                    </li>
                    <li>
                        <p>node.js</p>
                    </li>
                    <li>
                        <p>mysql2</p>
                    </li>
                    <li>
                        <p>Sequalize</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
             <a href="/websites" ><img src="assets/imgs/go-back.png"></a>
            </div>
            <div class="col-6">
             <a class="navbar-brand" href="/" style="align: center"><img src="assets/imgs/QueueDev.png"></a>
            </div>
        </div>
    </div>
</footer>