<section>
    <h2 style="text-align: center;">
        Note Taker App
    </h2>
    <div class="container" style="margin-top: 3%;">
        <div class="row align-items-start">
            <div class="col-8">
                <p>
                    This application already had the HTML written for me, I was requested to set up a JSON database and deploying the App using a Node.JS server. To use the app, you give your note a title and give it a description. Your note will then be saved and pinned to the side of the site until you delete that note.
                </p>
                <p>
                    The app utilizes JSON to store the notes the user inputs. This was a stepping stone to databases before I learned mysql2.  
                </p>
            </div>

            <div class="col-4">
                 <img src="assets/imgs/note-taker.png" class="card-img-top" alt="note-taker-ScreenShot" style="max-height: 500px; min-height: 100px" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" row align-items-start">
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://note-taker-qh.herokuapp.com/" target="_blank" class="btn btn-success">Try the app!</a>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://github.com/QuentinHnilica/note-taker" target="_blank" class="btn btn-primary">View source code</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p style="font-weight: bold;">My Part Of the Project</p>
            </div>

            <div class="col-6">
                <p style="font-weight: bold;">Tech Used</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <ul>
                    <li>
                        <p>Programmed Node Server</p>
                    </li>
                    <li>
                        <p>Programmed JSON Data Base</p>
                    </li>
                    <li>
                        <p>Programmed Note Deletion Logic</p>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <ul>
                    <li>
                        <p>HTML5/CSS</p>
                    </li>
                    <li>
                        <p>JavaScript</p>
                    </li>
                    <li>
                        <p>Node.JS</p>
                    </li>
                    <li>
                        <p>JSON</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
             <a href="/websites" ><img src="assets/imgs/go-back.png"></a>
            </div>
            <div class="col-6">
             <a class="navbar-brand" href="/" style="align: center"><img src="assets/imgs/QueueDev.png"></a>
            </div>
        </div>
    </div>
</footer>