<section>
    <h2 style="text-align: center;">
        Password Generator
    </h2>
    <div class="container" style="margin-top: 3%;">
        <div class="row align-items-start">
            <div class="col-8">
                <p>
                    this Password Generator app was my first JavaScript App. You simply set the parameters you want for your new password and the app will spit out a new unique password for you. Your max characters is 128 with a minimum of 8. If you enter less than 8 or more than 128, the app will default to these parameters.
                </p>
                <p>
                    This was the first time I have used CSS to style a website. It is also my first JavaScript application.
                </p>
            </div>

            <div class="col-4">
                 <img src="assets/imgs/PasswordGen.png" class="card-img-top" alt="PasswordGen-ScreenShot" style="max-height: 500px; min-height: 100px" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" row align-items-start">
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://quentinhnilica.github.io/password-generator/" target="_blank" class="btn btn-success">Try the app!</a>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">
                <a href="https://github.com/QuentinHnilica/password-generator" target="_blank" class="btn btn-primary">View source code</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p style="font-weight: bold;">My Part Of the Project</p>
            </div>

            <div class="col-6">
                <p style="font-weight: bold;">Tech Used</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <ul>
                    <li>
                        <p>Programmed Menu UI</p>
                    </li>
                    <li>
                        <p>Generation Logic</p>
                    </li>
                    <li>
                        <p>Site Design</p>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <ul>
                    <li>
                        <p>HTML5/CSS</p>
                    </li>
                    <li>
                        <p>JavaScript</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
             <a href="/websites" ><img src="assets/imgs/go-back.png"></a>
            </div>
            <div class="col-6">
             <a class="navbar-brand" href="/" style="align: center"><img src="assets/imgs/QueueDev.png"></a>
            </div>
        </div>
    </div>
</footer>