<section>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="card" style="width: 100%; background-color: gray; border-color: navy;">
                    <div>
                        <img src="https://img.itch.zone/aW1nLzYyMjIwMDYucG5n/315x250%23c/iboFDP.png" class="card-img-top" alt="George-Washington-Space-Incarseration" style="max-height: 416px; min-height: 183px" >
                    </div>
                    
                    <div class="card-body">
                        <button class="btn myButtons" onclick="changeLoc('george')">View Info</button>
                    </div>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-5">
              
               <div class="card" style="width: 100%; background-color: gray; border-color: navy;">
                   <div >
                        <img src="assets/imgs/Final_1.png" class="card-img-top" alt="anbuBlackops" style="max-height: 416px; min-height: 183px" >
                   </div>
                    
                    <div class="card-body">
                        <button class="btn myButtons" onclick="changeLoc('anbu-black-ops')">View Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 3%;"></div>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="card" style="width: 100%; background-color: gray; border-color: navy;">
                    <div>
                        <img src="assets/imgs/DND.png" class="card-img-top" alt="George-Washington-Space-Incarseration" style="max-height: 416px; min-height: 183px" >
                    </div>
                    
                    <div class="card-body">
                        <button class="btn myButtons" onclick="changeLoc('dnd')">View Info</button>
                    </div>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-5">
              
            </div>
        </div>
    </div>
</section>

<footer>
    <a class="navbar-brand" href="/"><img src="assets/imgs/QueueDev.png">  </a>
</footer>

<script src="assets/js/pageChange.js"></script>