* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
html{
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: #fff;
    background-image: linear-gradient(navy, gray);
}
nav a {
color: white;
font-weight: bold;
text-decoration: none;
font-size: 25px;
text-decoration: underline;
}
.nav-body{
    background-image: linear-gradient(navy, gray);
}
p{
    font-size: 25px;
}
h1{
    font-size: 50px;
}

body{
    background-color: gray;
    min-height: 100%;
}

.home-body{
    /* background-color:lightgrey;
    min-height: 100%; */
    background: url(../imgs/port-back.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-box{
    margin: 0 auto;
    padding: 1% 15%;
}

.myButtons{
    height: 100%;
    width: 100%;
    background-color: navy;
    color: white;
    border-color: turquoise;
}

.welcomeText{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.contact-text{
    margin: 0 auto;
    padding: 1% 15%;
    font-weight: bold;
    font-size: 30px;
    color:navy;
}

.btn-blue{
    border-color: cyan;
    background-color:deepskyblue;
    color: white;
}

.btn-green{
    border-color: lightgreen;
    background-color: lawngreen;
    color: white;
}

.btn-purp{
    border-color: purple;
    background-color:rebeccapurple ;
    color: white;
}

footer{
    /* display: flex;
    flex-wrap: wrap; */
}

.input-box{
    font-size: 19px;
    height: 80px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #dae1ea;
    color: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 5px #0075d4;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.message-box{
    font-size: 19px;
    height: 160px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #dae1ea;
    color: #ffffff;
    padding: 1rem;
    box-shadow: 0 0 5px #0075d4;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.sub-button{
    font-size: 19px;
    height: 80px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #2d71ca;
    color:navy;
    padding: 1rem;
    box-shadow: 0 0 5px #000ed4;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.myFourm{
    margin-top: 3%;
    border: 3px solid navy;
    background-color:darkgray;
}

.videogame-box{
    border: 3px solid navy;
    background: url(https://img.itch.zone/aW1nLzYyMjIwMDYucG5n/315x250%23c/iboFDP.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 25% 15%;
}

.website-box{
    border: 3px solid navy;
    background: url(../imgs/weather-dashboard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 25% 15%;
}

.project-box{
    border: 3px solid navy;
    box-shadow: 0 0 5px #0075d4;
    width: 20vw;
    height: 20vw;
}

@media only screen and (max-width: 48rem){
    .home-box{
        padding: 2rem 0;
    }

    p{
        font-size: 16px;
    }
}
